@model ThanhToanTrucTuyen.DTO.SoTaiKhoanTheDTO

<h3>Bạn có chắc chắn muốn xóa thẻ này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDuHienTai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDuHienTai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
